@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
    <nav>
        <div>
            <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink href="tasks">Tasks</NavLink>
        </div>
    </nav>
    </div>
    <main>
        <div class="auth">
            <LoginDisplay />
        </div>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>
